:root {
	--bgcolor: white;
	--htmlcolor: #222;
	--tcolor: #222;
	--bordcolor: #333;
	--formcolor: #efefef;
	--bbordcolor: #eaeaea;
	--bwidth: 1px;
}

@media (prefers-color-scheme: dark){
    :root {
	--bgcolor: #222;
	--htmlcolor: #eee;
	--tcolor: #ccc;
	--bordcolor: gray;
	--formcolor: #2a2a2a;
	--bbordcolor: gray;
	--bwidth: 1px;
    }
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	margin: 0 auto;
	max-width: 1420px;
	grid-gap: 5px;
}

.header {
	grid-column: 1/-1;
	max-width: 100%;
	margin-bottom: 5px;
}

html {
    background-color: var(--bgcolor);
    color: var(--htmlcolor);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

.currency {
    max-width: 100%;
    max-height: 15pt;
    display: inline; /* remove extra space below image */
}

.item {
	border: var(--bordcolor) 1px solid;
	border-radius: 1px;
	background-color: var(--formcolor);

}

.icon {
	margin: 1px;
}

h2 {
	text-align: center
}
